//FONTS

// <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@300;400;600&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
$font-logo: 'Great Vibes', cursive;
$font-title: 'Pacifico', cursive;
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;

//COLOURS

$color-green-1: rgba(133, 188, 69, 1.0);
$color-green-2: rgba(68, 189, 50, 1.0);
$white: #FFF;
$black: #000;